<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<!-- Latest compiled and minified CSS -->
	<link rel="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Socket-Chat</title>
</head>
<body>
	<h1>Hellooo</h1>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- custom -->
  <script type="text/javascript" src="main.js"></script>

</body>
</html>