<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<!-- Latest compiled and minified CSS -->
	<link rel="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Socket-Chat</title>
</head>
<body>
	<h1>Hellooo</h1>
	<!-- list of messages -->
	<ul id="messages"></ul>

	<!-- form to send a new message -->
	<form id="send-msg">
		<input type="text" id="new-msg" placeholder = "Your message" autofocus>
		<input type="submit" value="send">
	</form>	
	


	<!-- jQuery -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	 <!-- socket.io required BEFORE main.js -->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<!-- custom -->
	<script type="text/javascript" src="main.js"></script>

</body>
</html>